@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Kindly input two numbers and find out which has a greater square root</p>

    <div>
        <form asp-asp-controller="Home" asp-action="Add">
            <input type="number" placeholder="First Number" name="firstNumber"/>
            <br /><br />
            <input type="number" placeholder="Second Number" name="secondNumber"/>
            <br /><br /><br />
            <button type="submit">Submit</button>
        </form>
        @{
            @if(ViewBag.Result != null){
                <p>ViewBar.Result</p>
            }
        }
    </div>
</div>
